/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MAIN */
.container {
  height: 95vh;
  width: 90%;
  display: flex;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#009688 0% 15%, #dcdbd1 15% 75%);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CHAT BAR LEFT */
.sidebar-chats-container {
  width: calc(100% / 3);
  height: 100%;
}

.admin-panel {
  height: 50px;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: space-between;
}

.admin-info img {
  height: 45px;
  border-radius: 50%;
  margin: 0 5px 0 10px;
}

.admin-actions i {
  margin-left: 20px;
  color: #b1b1b1;
  font-size: 18px;
}

.admin-actions:last-child {
  margin-right: 20px;
}

.notifications {
  height: 75px;
  background-color: rgb(142, 218, 252);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bell {
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 60%;
  margin: 10px;
}
.bell i {
  font-size: 20px;
  color: rgb(142, 218, 252);
}

.notifications-actions > span {
  display: block;
}

.notifications-actions span:last-child {
  text-decoration: underline;
  color: rgb(98, 98, 98);
  font-size: 15px;
}

/* Search-bar */
.search-bar {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.search-bar button {
  border: none;
  border: 5px solid #f9f9f9;
  border-right: 1px solid lightgray;
  width: 20%;
}

.search-icon-container {
  padding: 5px 8px;
  width: 10%;
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}

.search {
  height: 40px;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.search input {
  padding: 5px 8px;
  width: 100%;
  height: 100%;
  border: none;
  border: 5px solid #f9f9f9;
  border-left: none;
}

/* CHAT LIST */

.chats-list {
  height: calc(95vh - 165px);
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
}

.chats-list ol li {
  height: 70px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.chats-list ol li:hover {
  background-color: #e8e4e4;
}

.chats-list-img {
  height: 70px;
  padding: 10px;
}

.chats-list-img img {
  height: 50px;
  border-radius: 50%;
}

.chats-list-user h2 {
  font-size: 22px;
  font-weight: 500;
}

.chats-list-user small {
  color: #b1b1b1;
}

/* CHAT */

.chat-container {
  width: 100%;
  height: 100%;
}

.chat-user-top {
  height: 50px;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #b1b1b1;
}

.chat{
    height: calc(95vh - 110px);
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    padding: 50px 100px;
}

.message-container{
    width: 100%;
    margin-bottom: 15px;
}

.message{
    width: 250px;
    min-height: 50px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 5px 8px 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.send{
    background-color: #d5f9ba;
    margin-left: auto;
}
/* SEND BAR */
.send-bar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f3eeea;
}

.face{
    width: calc(100%/10);
}

.send-mex{
    width: calc(100%/10 *8);
}

.send-mex input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-weight: 500;
}

.vocal-audio{
    width: calc(100%/10);
}

.face i, .vocal-audio i{
    font-size: 20px;
    color: rgb(107, 115, 118);
}